/* 
start of new part 
*/

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    list-style-type: none;
    display: flex;
    justify-content: space-between;  
}

.top-heading {
    color: #1F3F68;
    font-size: 64px;
    width: 510px;
}

.top-text {
    width: 425px;
    color: #1F3F68;
}

.products {
    display: flex;
    justify-content: space-around;
}

.product-name {
    width: 359px;
}

.footer-top {
    width: 495px;
}

.footer-subheading {
    width: 340px;
    text-align: left;
    font-size: 36px;
}

.footer-contacts {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}


/* contacts page*/

.contacts-blocks {
    display: flex;
    justify-content: space-between;
}

/* 
end of new part
*/

body {
    font-family: sans-serif;
}

.project-description {
    text-align: center;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.heading {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.subheading {
    font-size: 36px;
    text-align: center;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.entryfield {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submitbutton {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

